body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: red;
}

main {
    text-align: center;
    margin-top: 50px;
}

.animated-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.animated-button:hover {
    transform: scale(1.1);
}

.rotating-icon {
    width: 200px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
